

.form {
  width: 100%;
  height: auto;
  background-color: white;
  border: .5px solid grey;
  border-radius: .5rem;
  padding: 1rem;
}

@media (max-width: 800px) {
  .form {
    width: 70vw;
    height: auto;
  }
}


@media (max-width: 600px) {
  .form {
    width: 85vw;
    height: auto;
  }
}


.input{
  width: 100%;
}

.bottomRow{
  border-top: .5px solid gray;
  text-align: right;

}

.submitButton{
  margin-right: .5rem;
  margin-top: .5rem;
}

