.container{
  width: 80vw;
  margin-top: 3%;
  padding:1%;
  border: 1px solid black;
  border-radius: 10px;
}



.overlay > *:not(.EditProfileContainer_editprofilecontainer__JP4sA) {
  /* Styles to apply to all children of .container except .popup-form */
  /* For example, you can use opacity to create an overlay effect */
  width: 80vw;
  margin-top: 3%;
  padding:1%;
  border: 1px solid black;
  border-radius: 10px;
  opacity: 0.5;
  pointer-events: none; /* Prevent interaction with children */
}

@media (max-width: 800px) {
  .container {
    width: 90vw;
  }
}
@media (max-width: 500px) {
  .container {
    width: 98vw;
    margin: auto;
  }
}



