.container{
  text-align: left;
  /* border: 1px solid black; */
  border-radius: .5rem;
  margin: 1%;
  padding: .5rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto; /* Set to auto to adjust height dynamically */
  height: auto;
  display: grid;
  transition: height 0.3s ease;
  font-size: 1rem;
}

.container:hover{
  background-color: rgb(216, 217, 218);
  text-align: left;
  /* border: 1px solid black; */
  border-radius: .5rem;
  margin: 1%;
  padding: .5rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto; /* Set to auto to adjust height dynamically */
  height: auto;
  display: grid;
  transition: height 0.3s ease;
  font-size: 1rem;
}

/* .grouplink{
  grid-column: 1/4;
  grid-row: 1/2;
} */

.link{
  text-decoration: none; /* Remove underline */
  color: inherit;
}

.openButtonsIcon{
  grid-column: 7/8;
  grid-row: 1/2;
  z-index: 5;
}

.header{
  grid-column: 1/8;
  grid-row: 1/2;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
}
.name{
  text-align: left;
  grid-column: 2/6;
  grid-row: 1/2;
  font-size: 1.2rem;
  padding-top: .2rem;
}
.name:hover{
  grid-column: 2/6;
  grid-row: 1/2;
  font-size: 1.2rem;
  padding-top: .2rem;
  color: blue;
}

.headerImage{
  border-radius: 50%;
  object-fit: cover;
  width: 2rem;
  height: 2rem;
}




.area > p{
  margin: 0;
  font-size: 1rem;
}

.area{
  grid-column: 1/8;
  grid-row: 2/3;
  display: flex;

}

.species{
  grid-column: 1/8;
  grid-row: 3/4;

}


.species > p{
margin-bottom: .5rem;

}

.buttonscontainer{
  grid-column: 6/8;
  grid-row: 2/6;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 3;
  background-color: white;
}


.postImage{
  grid-column: 1/8;
  grid-row: 4/7;
  width: 100%;
  object-fit: cover;
  }

  .socialContainer{
    display: flex;
    grid-column: 1/8;
    grid-row: 7/8;
    border-top: .2px solid black;

  }
.icon{
  cursor: pointer;
  color: #787879;
  margin: 0;
}