
.form {
  width: 35vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: .5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (max-width:480px){

.form {
  width: 100vw;
  height: auto;
  padding-top: 6%;
  padding-bottom: 6%;
  padding-left:3%;
  padding-right:3%;
}
}