.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: crimson;
  text-align: center;
  background-color: rgb(230, 221, 204);

}

.App-logo {
  height: 20vmin;
}

.App-link {
  color: darkgray;
}
