

.form {
  width: 35vw;
  height: auto;
  background-color: rgb(247, 234, 229);
  padding-top: 6%;
  padding-bottom: 6%;
  padding-left:3%;
  padding-right:3%;
}

@media (max-width: 800px) {
  .form {
    width: 70vw;
    height: auto;
  }
}


@media (max-width: 600px) {
  .form {
    width: 85vw;
    height: auto;
  }
}
