

.form {
  padding: .5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

@media (max-width: 800px) {
  .form {
    width: 70vw;
    height: auto;
  }
}


@media (max-width: 600px) {
  .form {
    width: 85vw;
    height: auto;
  }
}

.closeButton{
  grid-column: 4/5;
  grid-row: 1/2;
  right: 0;
}

.contentInput{
  grid-column: 1/5;
}

.icon{
  cursor: pointer;
}

.bottomFlex{
  grid-column: 1/5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileImage{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}


.contentInput{
  display: flex;
  margin-top: .5rem;
}

.textArea{
  margin: 0;
  height: 135px;
}