

.form {
  padding: .5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows:auto;
  border: .5px solid grey;
  border-radius: .5rem;
}

.topRow{
  grid-column: 1/5;
  grid-row: 1/;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 800px) {
  .form {
    width: 70vw;
    height: auto;
  }
}


@media (max-width: 600px) {
  .form {
    width: 85vw;
    height: auto;
  }
}

.closeButton{
  right: 0;
}

.contentInput{
  grid-column: 1/7;
  grid-row: 2/7;
  height: 100%;

  padding-top: .2rem;
  padding-bottom: .4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.iconContainer{
  text-align: left;
  grid-column: 1/7;
  margin-left: .5rem;
  grid-row:7/8;
}
.imageInput{
  grid-column: 1/7;
  margin-left: .5rem;
}

.icon{
  cursor: pointer;
}

.bottomFlex{
  grid-column: 1/5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileImage{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
  margin-top: .6rem;
}


.contentInput{
  display: flex;
  margin-top: .5rem;
}

.bottomRow{
  grid-column: 1/7;
  border-top: .5px solid gray;
  text-align: right;
}

.submitButton{
  margin-top: .5rem;
}
/*
.textArea{
  margin: 0;
  height: 135px;
} */