.container {
  background-color: white;
  width: 35vw;
  height: 100%;
  margin-top: 3%;
  padding:1%;
  margin:auto;
  border-radius: 3%;
}


@media (max-width: 500px) {
  .container {
    background-color: white;
    width: 100vw;
    height: 100%;
    margin-top: 3%;
    padding:1%;
    margin:auto;
    border-radius: 3%;
  }
}