.gridcontainer {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(9, 1fr);
  gap: 10px;
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: auto;
  margin-top: 3%;
  padding:1%;
  margin:auto;
}


@media (max-width: 1000px) {
  .gridcontainer {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    position: relative;
    border: 1px black solid;
    border-radius: 10px;
    background-color: white;
    width: 75vw;
    height: 100vh;
    margin-top: 3%;
    padding:1%;
    margin:auto;
  }
}

@media (max-width: 800px) {
  .gridcontainer {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    position: relative;
    border: 1px black solid;
    border-radius: 10px;
    background-color: white;
    width: 90vw;
    height: 100vh;
    margin-top: 3%;
    padding:1%;
    margin:auto;
  }
}

@media (max-width: 500px) {
  .gridcontainer {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    position: relative;
    border: 1px black solid;
    border-radius: 10px;
    background-color: white;
    width: 98vw;
    height: 100vh;
    margin-top: 3%;
    padding:1%;
    margin:auto;
  }
}




.overlay > * {
  opacity: 0.5;
  pointer-events: none;
}





.profileContainer{
  position: relative;
  width: 70vw;
  margin-top: 3%;
  padding:1%;
  border: 1px solid black;
  background-color: rgb(33, 79, 49);
  border-radius: 10px;
  margin: auto;
}

@media (max-width: 500px) {
  .profilecontainer{
    position: relative;
    width: 60vw;
    margin-top: 3%;
    padding:1%;
    border: 1px solid black;
    background-color: rgb(33, 79, 49);
    border-radius: 10px;
    margin: auto;
    grid-column: 3/3;
  }


}

.leftContainer{
  grid-column: 1/7;
  background-color: #466780;
}

.rightContainer{
  height: 90vh;
  background-color: white;
  position: sticky;
  top: 5em;
  display: grid;
  grid-column: 7/9;
  margin-left: 3rem;
}





