.container{
  padding-top: 1rem;
}

.header{
  background-color: white;
  box-shadow: .5px .5px .5px .5px black;
  border-radius: .5rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.groups{
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}