.container{
  display: grid;
  top: 2rem;
  gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: repeat(11, 1fr);
  position: relative;
  width: 60vw;
  height: 100%;
  margin:auto;
}

@media (max-width: 480px)  {
  .container{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: auto;
    width: 100vw;
    height: 100%;
    margin:auto;
    position: relative;
    top: 2rem;
    gap: 1rem;
  }

}

.postContainer{
  grid-column: 4/9;
  border-radius: .5rem;
}

@media (max-width: 480px) {
  .postContainer{
    grid-column: 1/12;
    border-radius: .2rem;
  }
}

.nav{
  width: 100%;
  border: .2px solid rgb(236, 236, 236);
  background-color: white;
  position: sticky;
  top: 4.5rem;
  z-index: 100;
}

@media (max-width: 480px) {
  .nav{
    width: 100%;
    border: .2px solid rgb(236, 236, 236);
    background-color: white;
    position: sticky;
    z-index: 100;
    top: 3.5rem;
  }
}

.buttons{
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;

}

.buttonBox:hover{
  background-color: rgb(206, 206, 206);
}

.button{
  margin-top: 1rem;
}

.button:hover{
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 1rem;
}

.activeButton{
  margin-top: 1rem;
  text-decoration: underline;
}

.searchGroupsContainer{
  top: 11em;
  position: sticky;
  align-self: flex-start;
  grid-column: 1/4;
  grid-row: 1/6;
  height: 80vh;
  overflow-y: auto; /* Enables vertical scrolling */
  border: 1px solid #ccc;
  border-radius: .5rem;
  overflow-x: hidden;
  scrollbar-width: thin;
}



@media (max-width: 480px) {

  .searchGroupsContainer{
    display: none;
    top: 11em;
    position: sticky;
    align-self: flex-start;
    grid-column: 1/4;
    grid-row: 1/6;
    height: 80vh;
    overflow-y: auto; /* Enables vertical scrolling */
    border: 1px solid #ccc;
    border-radius: .5rem;
    overflow-x: hidden;
    scrollbar-width: thin;
  }
}

